/* regole generali */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

/* Regole Header */

.heading{
    height: 70px;
    width: 100%;
    /* debug */
    background-color: blue;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 

.heading .left{
    min-height: 30px;
    width: calc(100%/3);
    /* debug */
    background-color: yellow;
    color: black;
    border: black solid 2px;
}

.heading .right{
    min-height: 30px;
    width: calc(100%/3);
    /* debug */
    background-color: yellow;
    color: black;
    border: black solid 2px;
}


/* Regole Main */


.sfondo {
	min-height: 150px;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
    /* debug */
    background-color: aqua;
}

h1{
    margin: 45px 191px 35px;
    width: 60%;
    font-size: 50px;
}

.contain25{
    width: 25%;
    margin-right: 334px;
    /* debug */
    background-color: blueviolet;
}

.picturesabsolute {
	width: 40%;
	min-height: 225px;
	position: absolute;
	background-color: brown;
	top: 252px;
	right: 125px;
    /* debug */
    background-color: brown;
}

.pianidropbox{
    min-height: 600px;
	width: 60%;
    margin: 50px auto;
    /* debug */
    background-color: chartreuse;
    border: black solid 3px;
}

h2{
    margin-bottom: 30px ;
}

.offer{
    display: flex;
    justify-content: space-between;
}

.pianidropbox span{
    margin-right: 30px;
}

.pianidropbox .colonna{
    min-height: 300px;
    width: calc(90%/3);
    margin: 25px 0;
    /* debug */
    background-color: pink;
    border: black solid 2px;
}

.colonna h5{
    /* debug */
    border: black solid 2px;
    text-align: center;
}

hr{
    width: 30%;
}

.colonnareverce{
    min-height: 200px;
	width: 100%;
    margin: 50px auto;
    /* debug */
    background-color: rgb(9, 79, 220);
    border: rgb(255, 245, 245) solid 3px;
}

.row{
    width: 60%;
    min-height: 400px;
    margin:0 auto;
    display: flex;
    /* debug */
    background-color: red;
    border: black solid 2px;
}

.row .uno{
    width: 60%;
    /* debug */
    background-color: orange;
}

.row .due{
    width: 40%;
    /* debug */
    background-color: blue;
}

.containerquadrati{
    width: 60%;
    min-height: 400px;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    /* debug */
    background-color: rgb(255, 0, 0);
    border: black solid 2px;
}

.containerquadrati .uno{
    width: 33%;
    min-height: 100px;
    /* debug */
    background-color: yellow;
    border: black solid 2px;
}

.info{
    width: 60%;
    min-height: 100px;
    margin: 100px auto;

    /* debug */
    background-color: greenyellow;
    border: black solid 2px;
}

.sponsor{
    width: 100%;
    min-height: 250px;
    display: flex;
    /* debug */
    background-color: violet;
    border: black solid 2px;
}

 .info{
    width: 34%;
    min-height: 250px;
    /* debug */
    background-color:green;
    border: black solid 2px;
}

 .left{
    width: 33%;
    min-height: 250px;
    display: flex;
    flex-wrap: wrap;
    /* debug */
    background-color:orange;
    border: black solid 2px;
} 

.designit{
    width: 50%;
    min-height: 125px;
    /* debug */
    background-color:rgb(238, 255, 0);
    border: black solid 2px;
}

.right{
    width: 33%;
    min-height: 250px; 
    display: flex;
    flex-wrap: wrap;
    /* debug */
    background-color: blue;
    border: black solid 2px;
}

footer .sfondo {
    min-height: 300px;
    /* debug */
    background-color: brown;
    border: black solid 2px;
}

.sfondo hr{
    width: 60%;
}

.infofinali{
    width: 100%;
    min-height: 200px;
    color: white;
    display: flex;
    flex-direction: row;
    /* debug */
    background-color: black; 
}

.colonnina {
	display: flex;
	flex-direction: column;
}

.lingua{
    min-height: 100px;
    width: 100%;
    /* debug */
    background-color: blue;
    border: solid black 2px;
}